input {
    display: block;
    margin: 1rem auto;
    font-size: 2rem;
    width: 80%;
    background-color: #1a1a1a00;
    color: #cdcdff;
    border: 1px solid #cdcdff;
    padding: 2%;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

input::placeholder {
    color: #cdcdffa7;
}

input:focus {
    outline: none;
}

button {
    background-color: #1a1a1a00;
    color: #cdcdff;
    padding: 3%;
    font-size: 1.2rem;
    border: 1px solid #cdcdff;
    border-radius: 0.5rem;
    margin: 4%;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}